


{% extends 'base.html' %}

{% block content %}
{{object.company}}

{% if user.is_authenticated %}
    {% for object in object_list %}

    
        <div id="stats" class="card opacity-5 mt-5" style="width: 90vw;">
            <div class="card-body p-3 text-dark rounded shadow ">
                
                {% if chart0 %}
                <h3 class="card-body bg-light border p-1 shadow rounded">{{ object.company }}</h3>
                <div class="card-body p-0 bg-dark text-light rounded shadow">
                    <!-- <h3 class="card-title">Entries/Exits</h3> -->
                    <div class="d-flex justify-content-center">
                        {% if object.company == "Kaws" %}
                        <img class='mt-2' src="data:image/png;base64, {{chart0|safe}}">

                        {% elif object.company == "YardBar" %}
                        <img class='mt-2' src="data:image/png;base64, {{chart1|safe}}">

                        {% elif object.company == "Shotstop" %}
                        <img class='mt-2' src="data:image/png;base64, {{chart2|safe}}">
                        {% endif %}
                    </div>
                    <br>
                </div>
                {% endif %}

                <div class="card-body bg-light border p-1 mt-2 rounded d-flex justify-content-center shadow">
                    <div class="d-flex">
                        <p class="h4 text-center stat-items">Now: <br><span class=" text-secondary">{{ object.current }}</span></p>
                        <p class="h4 text-center stat-items">Max: <br><span class="text-secondary">{{ object.capacity }}</span></p>
                        <p class="h4 text-center stat-items">In: <br><span class="text-secondary">{{ object.entered }}</span></p>
                        <p class="h4 text-center stat-items">Out: <br><span class="text-secondary">{{ object.exited }}</span></p>
                    </div>
                </div>
                
                <div class="mt-2">
                    <a href="{% url 'home' %}"  class="btn btn-block btn-warning shadow">Refresh</a>
                    <a href="{% url 'edit' object.pk %}" class="btn btn-block btn-warning shadow">Edit</a>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
 

{% else %}
    <div id="stats" class="card opacity-5 mt-5 login-link" style="width: 90vw;">
  <div class="card-body p-3 text-dark rounded shadow">
      <h3 class="card-body bg-light border shadow rounded">Welcome to Hive</h3>
      <div class="card-body p-3 bg-dark text-light rounded shadow">
            <br><a href="{% url 'login' %}" class="shadow btn-block btn-light btn"><h4>Please Login</h4></a>
            <br><h4>-or-</h4><br>
            <a href="{% url 'signup' %}" class="shadow btn-block btn-light btn"><h4>Register an Account</h4></a><br>
      </div>
  </div>
</div>{% endif %}



{% endblock content %}


