


{% extends 'base.html' %}

{% block content %}
{{object.company}}

{% if user.is_authenticated %}

    {% for object in object_list %}


        <div class="card opacity-4" style="width: 90vw;">
            <div class="card-body p-3 bg-light text-dark rounded shadow">
                <h3 class="card-title">{{ object.company }}</h3>
                <div class="d-flex justify-content-center">
                    <div class="d-flex">
                        <p class="h4 text-left stat-items">Now: <br><span class="text-secondary">{{ object.current }}</span></p>
                        <p class="h4 text-left stat-items">Max: <br><span class="text-secondary">{{ object.capacity }}</span></p>
                        <p class="h4 text-left stat-items">In: <br><span class="text-secondary">{{ object.entered }}</span></p>
                        <p class="h4 text-left stat-items">Out: <br><span class="text-secondary">{{ object.exited }}</span></p>
                    </div>
                </div>
                <br>
                <a href="{% url 'graph' object.company %}" class="btn btn-block btn-warning shadow">Chart</a>
                <a href="{% url 'company_edit' object.pk %}" class="btn btn-block btn-warning shadow">Edit</a>
            </div>
        </div>
        <br>
    <!-- <div class="d-flex justify-content-center">
            <div class="d-flex">
                <p class="h4 text-left stat-items">Now: <br><span class="text-secondary">{{ object.current }}</span></p>
                <p class="h4 text-left stat-items">Max: <br><span class="text-secondary">{{ object.capacity }}</span></p>
                <p class="h4 text-left stat-items">In: <br><span class="text-secondary">{{ object.entered }}</span></p>
                <p class="h4 text-left stat-items">Out: <br><span class="text-secondary">{{ object.exited }}</span></p>
            </div>
        </div><br> -->
    {% endfor %}
    

{% else %}
    <h1 class="greeting">Enter the Beehive</h1>
    <a href="{% url 'login' %}" class="shadow btn-block btn-dark btn-lg login-link"><h2>PLEASE LOGIN</h2></a>
    
{% endif %}


{% endblock content %}