


{% extends 'base.html' %}

{% block content %}
{{object.company}}

{% if user.is_authenticated %}

    {% for object in object_list %}

        <a href="{% url 'graph' %}"><h1>{{ object.company }}</h1></a>

        <div class="d-flex justify-content-center">
            <div class="d-flex">
                <p class="h4 text-left stat-items">Now: <br><span class="text-secondary">{{ object.current }}</span></p>
                <p class="h4 text-left stat-items">Max: <br><span class="text-secondary">{{ object.capacity }}</span></p>
                <p class="h4 text-left stat-items">In: <br><span class="text-secondary">{{ object.entered }}</span></p>
                <p class="h4 text-left stat-items">Out: <br><span class="text-secondary">{{ object.exited }}</span></p>
            </div>
        </div>
        <br>
    {% endfor %}
    {% if chart %}
    <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}

{% else %}
    <h2>LOGIN FOR ACCESS</h2>

{% endif %}


{% endblock content %}